.grid-container {
	width: 100%;
	height: 100%;
}

.grid-row {
  margin-bottom: 15px; 
}

.grid-cell {
	float: left;
	width: 20%;
	height: 20%;
}

.grid-cell-inner {
	width: 90%;
	height: 90%;
	position: relative;
	border-radius: 10%;
	margin-left: 0;
	margin-right: 0;
}

.grid-yes {
	background-color: #5FCF80;
}

.grid-no {
	background-color: #C4B7AB;
}

.text {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 100%;
	color: #634714;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 90%;
	margin-top: auto;
	margin-bottom: auto;
}