.header-footer {
	width: 90%;
	background-color: #88C0FC;
	border-radius: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2em;
	color: #634714;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
}

.grid-container {
	width: 90%;
	height: 75%;
	margin-left: auto;
	margin-right: auto;
}

.grid-row {
  margin-bottom: 15px; 
}

.grid-cell {
	float: left;
	width: 20%;
	height: 20%;
}

.grid-cell-inner {
	position: relative;
	width: 90%;
	height: 90%;
	border-radius: 10%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.grid-yes {
	background-color: #5FCF80;
}

.grid-no {
	background-color: #C4B7AB;
}

.text {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 120%;
	color: #634714;
	text-align: center;
	text-transform: uppercase;
	margin: 10%;
}